.news {
   
    background:
        linear-gradient(217deg, rgba(78, 216, 221, 0.3), rgb(78, 216, 221, 127) 70%),
        linear-gradient(117deg, rgba(170, 34, 204, 0.4),rgb(170, 34, 204) 70%),
        linear-gradient(336deg, rgba(119, 32, 86, 0.5), rgb(119, 32, 86) 70%);
    height: 33vh;
    display: flex;
    min-width: calc(375px - 2rem);
    flex-direction: column;
    place-content: center;
    place-items: center;
    position: relative;
    overflow: hidden;
  
}

.titleNews {
    font-size: 14vw;
    color: #e9e9e9;
    text-shadow: 0 0 2.5px rgba(0, 0, 0, 0.8);
    font-family: var(--font-oxanium-extrabold);
    z-index: 2;
}

@media screen and (min-width: 768px) {
   
    .titleNews {
        font-size: 7vw;
    }
}

@media screen and (min-width: 1024px) {
    
    .titleNews {
        font-size: 8vw;
    }
}