.shopAll {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "title title"
    "aside aside"
    "products products"
    "pagination pagination"; 
}

.titlePage {
    font-size: 3rem; 
    grid-area: title;
}

.filterProducts {
    padding: 1rem;
    grid-area: aside;
}
.areaProducts{
    grid-area: products;
}
.renderPagination {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1rem;
    width: 100%;
}

@media screen and (min-width: 768px){
    .filterProducts {
        display: grid;
        align-content: start;
    }
    .shopAll {
        display: grid;
        grid-template-areas: 
        "title title"
        "aside products"
        "pagination pagination"; 
    }
}