.btn {
  transform: scale(.8);
  background: rgb(84, 210, 226);
  display: flex;
  place-items: center;
  place-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 300ms all ease-in-out;
  padding: 0;
  width: 36px;
  height: 36px;
}

.accountButton {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.toggleCartClose {
  background: rgb(248, 136, 108);
  border: 1px solid rgb(255, 255, 255);
}

.toggleCartOpen {
  border: 1px solid rgb(255, 255, 255);
}

.addToCart {
  background: rgb(101, 245, 149);
  border: 1px solid rgb(0, 0, 0);
}

.deleteToCart {
  background: rgb(247, 36, 36);
  border: 1px solid rgb(0, 0, 0);
}
.addProductQuantity {
  background: rgb(101, 245, 226);
  border: 1px solid rgb(0, 0, 0);
  width: 32px;
  height: 32px;
}
.removeProductQuantity {
  background: rgb(247, 36, 36);
  border: 1px solid rgb(0, 0, 0);
  width: 32px;
  height: 32px;
}
.offerButton {
  width: 48px;
  height: 48px;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 5px;
}

.addToCart:active,
.deleteToCart:active,
.toggleCartOpen:active,
.toggleCartClose:active,
.accountButton:active {
  transform: scale(.6);
}