.titlePage {
    font-size: 3vw;
}
.containerCustomers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "columnOne" "columnTwo";
    gap: 60px;
    padding: 0 1rem;
}

.createCustomers {
    grid-area: columnOne;
}

.customerLogin {
    grid-area: columnOne;
    display: flex;
    flex-direction: column;
}
.customerCheckout{
    grid-area: columnOne;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto auto;
}
.checkout{
 
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto auto;
}
.newCustomers {
    grid-area: columnTwo;
    display: flex;
    flex-direction: column;
}

.customerTitle {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.formControl {
    display: flex;
    flex-direction: column;
}

.paragraf {
    font-variant: small-caps slashed-zero;
}

a.linkFormCreateCustomers {
    text-decoration: underline;
    background: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    width: 50%;
}



@media screen and (min-width: 1280px) {
    .containerPage {
        padding: 0;
    }
    .containerCustomers {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "columnOne columnTwo";
        padding: 0;
    }
}