@keyframes BubblefloatTop {
    to {
        transform: translate(100%, 100%);
    }

    from { transform: translate(-100%, -100%);}
}

@keyframes BubblefloatBottom {
    to {
        transform: translate(-100%, -100%);
    }

    from {transform: translate(100%, 100%);}
}