:root{
    --font-race-sport: 'Race Sport';
    --font-oxanium-light: 'Oxanium Light';
    --font-oxanium-extralight: 'Oxanium ExtraLight';
    --font-oxanium-bold: 'Oxanium Bold';
    --font-oxanium-extrabold: 'Oxanium ExtraBold';
    --font-oxanium-semibold: 'Oxanium SemiBold';
    --font-oxanium-medium: 'Oxanium Medium';
    --font-oxanium-regular: 'Oxanium Regular';

}
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background: blue;
  }
  
  ::-webkit-scrollbar-button {
    background: red;
    height: 1px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-track-piece {
    height: 1px;
    box-shadow: inset 0 0 6px olive;
  }
  
  ::-webkit-scrollbar-thumb {
    height: 1px;
  
    box-shadow: inset 0 0 6px rgb(58, 192, 31);
  }
  
  