:root {
    --max-width: 1400px;
    --max-width-product:341px;
    --max-height-photoProduct: 321px;
    --max-width-offers-carrusel: var(--max-width);
    --max-width-offers-carrusel-mobile: 354px;
    --center-container: 0 auto;
}
:root{
    --font-race-sport: 'Race Sport';
    --font-oxanium-light: 'Oxanium Light';
    --font-oxanium-extralight: 'Oxanium ExtraLight';
    --font-oxanium-bold: 'Oxanium Bold';
    --font-oxanium-extrabold: 'Oxanium ExtraBold';
    --font-oxanium-semibold: 'Oxanium SemiBold';
    --font-oxanium-medium: 'Oxanium Medium';
    --font-oxanium-regular: 'Oxanium Regular';
}

  
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: gold;
  }
  