.containerShopping {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.titleSpan {
    grid-column: span 2;
}

.cartProducts {
    display: flex;
    flex-direction: column;
}


.summary {
    width: 22vw;
    background: rgb(245, 245, 245);
    min-height: 33vh;
}
.titleSummary{
    border-bottom: 2px solid #ccc;
    padding: 22px 11px 8px;
}

