.itemGridList {
  position: relative;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--max-width-product), 1fr));
  justify-items: center;
  gap: 1rem;
  width: 100%;
  padding: 4rem 1rem;
}

.photoProduct {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
  display: block;
  background: #fff;
  grid-area: foto;
  padding: 1rem;
}

.product {
  display: grid;
  grid-template-areas: "foto" "body" "button";
  grid-template-rows: auto 100px 1fr;
  color: #333;
  place-content: center;
  background: #eeeeee;
  position: relative;
  /* border: 1px solid rgba(104, 103, 103, 0.37); */
}

.firstChild,
.lastChild,
.midleChild {
  display: flex;
  position: relative;
  padding: 0 1rem;
  place-items: center;
}

.firstChild {
  grid-area: body;
  padding: .5rem;
  place-items: center;
}

.midleChild {
  grid-area: price;
  place-content: flex-start;
  display: flex;
  gap: .5rem;
}

.lastChild {
  grid-area: button;
  place-content: flex-end;
  width: 100%;
}

.productTitle {
  font-size: 1rem;
  opacity: .9;
  width: 300px;
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.euro {
  font-size: 1.2rem;
  color: rgb(17, 151, 175)
}

.productPrice {
  font-size: 1.2rem;
}

.deleteToCart {
  background: rgb(247, 36, 36)
}