.mainHeader {
  background: #333;
  z-index: 10;
  width: 100vw;
  position: sticky;
  top: 0;

}
.customers{
  display: flex;
  place-content: flex-end;
  place-items: center;
  max-width: var(--max-width);
  margin: var(--center-container);
  padding: .5rem 1rem;
  
}
.containerHeader {
  display: grid;
  max-width: var(--max-width);
  margin: var(--center-container);
}

.top {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.containerMenu {
  display: flex;
  place-content: space-between;
  padding-right: 1rem;
}
.small{
  font-size: small;
}