/* .mainHeader {
  background: var(--color-light);
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 10;
  animation: scroll linear both;
  animation-timeline: scroll();
  animation-range: 0 200; 
} */

.customers{
  display: flex;
  place-content: flex-end;
  place-items: center;
  max-width: var(--max-width);
  margin: var(--center-container);
  padding: .5rem 1rem;
  color: var(--color-light);
  z-index: 11;
}
.containerHeader {
  display: grid;
  max-width: var(--max-width);
  margin: var(--center-container);
  z-index: 11;
}

.top {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.containerMenu {
  display: flex;
  place-content: space-between;
  padding-right: 1rem;
  z-index: 11;
}
.small{
  font-size: small;
}