
.tspan {
    fill: rgb(196, 194, 194);
    font: italic  200px sans-serif;
}

/* Note that the color of the text is set with the    *
                 * fill property, the color property is for HTML only */
.text {
    font: italic 180px sans-serif ;
    fill: rgb(255, 255, 255);
}

  
