.offers {
    margin-top: 1rem;
}

.containerScroll {
    width: var(--max-width-offers-carrusel-mobile);
    padding: 0 1rem;
    position: relative;
}

.listOffers {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 100%);
    padding: 1rem;
    height: 100%;
    gap: 1rem;
    padding: 0;
    margin: 0;
    overflow: auto hidden;
}

/* .header{
    background: maroon;
  
} */
.titleHeader {
    color: #333;
    font-size: 8vw;
    padding-top: 1rem;
    text-align: center;
}

.btnBefore,
.btnNext {
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    background: #ffffff41;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.btnNext {
    right: 0;
}

/* @media screen and (min-width: 768px) {
    .lisOffers{
        max-width: 768px;
    }
} */
/* @media screen and (min-width: 968px) {
    .lisOffers{
        max-width: 968px;
    }
}
 */

@media screen and (min-width: 1280px) {
    .containerScroll {
        width: var(--max-width-offers-carrusel);
        padding: 0;
    }

    .listOffers {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: none;
        height: 100%;
        gap: .5rem;
        padding: 0;
        margin: 0;
        overflow: auto hidden;
    }

    .titleHeader {
        font-size: 1.5vw;
    }

    .btnBefore,
    .btnNext {
        display: inline-flex;
        cursor: pointer;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 48px;
    }

    .btnBefore {
        border-left: 1px solid transparent;
        border-right: 1px solid #333;
    }

    .btnNext {
        border-right: 1px solid transparent;
        border-left: 1px solid #333;

    }

    .btnBefore:hover {
        border-left: 1px solid transparent;
        border-right: 1px solid darkred;
    }

    .btnNext:hover {
        border-right: 1px solid transparent;
        border-left: 1px solid darkred;

    }
}