.offers{
    /* background: rgb(250, 244, 194); */
    margin-top: 1rem;
}
.containerScroll{
    width: var(--max-width-offers-carrusel-mobile);
    /* border: 1px solid #333; */
    /* padding: .5rem; */
    position: relative;
  
}
.listOffers{
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    gap: 1rem;
    padding: 0;
    margin: 0;
    overflow: auto hidden;
}
.itemListOffer{
    position: relative;
    display: grid;
    grid-template-areas: "header" "mid" "bottom";
    grid-template-rows: var(--max-height-photoProduct) 1fr auto;
    width: var(--max-width-product);
    place-content: center;
    background: #eeeeee;
    border-radius: 8px;
}
.bottomBox{
    grid-area: bottom;
    display: flex;
    place-content: space-between;
    place-items: center;
    padding: 1rem;
    
}
.containerPrice{
    display: flex;
    flex-direction: column;
}
/* .header{
    background: maroon;
  
} */
.titleHeader{
    color: #333;
    font-size: 6vw;
    
}
.title{
    grid-area: mid;
    color: #333;
    font-size: 4vw;
    padding: 0 .2rem;
    text-align: center;
}
.price{
    color: #333;
}
.discount{
    color: red
}
.imageOffer{
  
    grid-area: header;
    width: calc(var(--max-width-product) - .5rem);
    height: var(--max-height-photoProduct);
    aspect-ratio: 16/9;
    object-fit: contain;
    background: #fff;
    margin: .5rem .2rem;
}
.btnBefore, .btnNext{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100px;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    box-shadow: 2px 0px 1px #3335;
}
.btnNext{
    right: 0;
    box-shadow: -2px 0px 1px #3335;
}
/* @media screen and (min-width: 768px) {
    .lisOffers{
        max-width: 768px;
    }
} */
/* @media screen and (min-width: 968px) {
    .lisOffers{
        max-width: 968px;
    }
}
 */
 
@media screen and (min-width: 1280px) {
    .containerScroll{
       width: var(--max-width-offers-carrusel);
    }
    .btnBefore, .btnNext{
        display: inline-flex;
    }
    .listOffers{
        display: grid;
        grid-auto-flow: column;
        height: 100%;
        gap: .5rem;
        padding: 0;
        margin: 0;
        overflow: auto hidden;

    }
    .itemListOffer{
        width: 280px;
    }
   
    .titleHeader{
      
        font-size: 2vw;
        
    }
    .title{
       
        font-size: 1vw;
       
    }
}