.offers {
    margin-top: 1rem;
}

.containerScroll {
    display: grid;
    width: 100%;
    padding: 0 1rem;
    position: relative;
}

.listOffers {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 1fr);
    padding: 1rem;
    height: 100%;
    gap: 1rem;
    padding: 0;
    margin: 0;
    overflow: auto hidden;
}

/* .header{
    background: maroon;
  
} */
.titleHeader {
    color: #333;
    font-size: 8vw;
    padding-top: 1rem;
    text-align: center;
}

.btnBefore,
.btnNext {
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    background: #ffffff41;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.btnNext {
    right: 0;
}
.btnBefore {
    border-left: 1px solid transparent;
    border-right: 1px solid #333;
}

.btnNext {
    border-right: 1px solid transparent;
    border-left: 1px solid #333;

}

.btnBefore:hover {
    border-left: 1px solid transparent;
    border-right: 1px solid darkred;
}

.btnNext:hover {
    border-right: 1px solid transparent;
    border-left: 1px solid darkred;

}

@media screen and (min-width: 425px) {
    .btnBefore,
    .btnNext {
        display: inline-flex;
    }
    
}
@media screen and (min-width: 768px) {
   
    .titleHeader {
        font-size: 3vw;
    }
}
@media screen and (min-width: 968px) {
    .titleHeader {
        font-size: 3vw;
    }
}


@media screen and (min-width: 1280px) {
    .titleHeader {
        font-size: 1.5vw;
    }
}